<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h2 class="text-center text-dark mt-5">{{UseName}</h2>
     
      <div class="card my-5">

        <form class="card-body cardbody-color p-lg-5">

          <div class="text-center">
            <img src="https://cdn.pixabay.com/photo/2016/03/31/19/56/avatar-1295397__340.png" class="img-fluid profile-image-pic img-thumbnail rounded-circle my-3"
              width="100px" alt="profile">
          </div>

          <div class="text-center mb-5 text-dark">Select a category</div>
          <select class="form-select" aria-label="Default select example">
            <option selected>Open this select menu</option>
            <option value="1">Music</option>
            <option value="2">Famous People</option>
            <option value="3">History</option>
          </select>
          <br>
          <div class="text-center"><button type="submit" class="btn btn-color px-5 mb-5 w-100" routerLink="/Quiz">Start Quiz</button></div>
          
        </form>
      </div>

    </div>
  </div>
</div>